body {
    background-color: rgb(214, 213, 212);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center {
    width: 60%;
    text-align: center;
    font-size: 32px;
}



